# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Editor directories
.idea/
.vscode/
